{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/patients/patient-detail.css' %}"
/>
<script defer src="{% static 'js/patient-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="patient-container">
  <div class="patient-img">
  </div>
  <div class="patient-details">
    <h2>{{ patient.name }}</h2>
    {% if patient.age > 0 %}
    <p>{{ patient.name }} is a {{ patient.age }} year old {{ patient.race }} {{ patient.gender }} born on {{ patient.birth_date }}</p>
  {% else %}
    <p>{{ patient.name }} is a {{ patient.race }} {{ patient.race }} born on {{ patient.birth_date }}</p>
  {% endif %}
  <p>{{ patient.medical_history }}</p>
  <p>{{ patient.description }}</p>
  <div class="patient-actions">
    <a href="{% url 'patient-update' patient.id %}" class="btn warn">Edit</a>
    <a href="{% url 'patient-delete' patient.id %}" class="btn danger">Delete</a>
  </div>
  </div>
</section>

<div class="visits-container">
  <section class='visits'>
    <div class='subsection-title'>
      <h2 class='subsection-title'>Visits</h2>
    </div>
    <h3>Add a Visit</h3>
    <form 
      action="{% url 'add-visit' patient.id %}"
      method='post'
      class='subsection-content'
      autocomplete='off'
    >
      {% csrf_token %}
      {{ visit_form.as_p }}
      <button type="submit" class='btn submit'>Add Appointment</button>
    </form>
    <h3>Past Doctor Appointments</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Visit Type</th></tr>
      </thead>
      <tbody>
        {% for visit in patient.visit_set.all %}
          <tr>
            <td>{{ visit.date }}</td>
            <td>{{ visit.visit_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}