{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/patients/patient-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="patient-container">
  <div class="patient-img">
  </div>
  <div class="patient-details">
    <h2>{{ patient.name }}</h2>
    {% if patient.age > 0 %}
    <p>{{ patient.name }} is a {{ patient.age }} year old {{ patient.race }} {{ patient.gender }} born on {{ patient.birth_date }}</p>
  {% else %}
    <p>{{ patient.name }} is a {{ patient.race }} {{ patient.race }} born on {{ patient.birth_date }}</p>
  {% endif %}
  <p>{{ patient.medical_history }}</p>
  <p>{{ patient.description }}</p>
  <div class="patient-actions">
    <a href="{% url 'patient-update' patient.id %}" class="btn warn">Edit</a>
    <a href="{% url 'patient-delete' patient.id %}" class="btn danger">Delete</a>
  </div>
  </div>
</section>
<section>
<h2>Visits</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Visit Type</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Diagnosis</th>
          <th>Treatment</th>
          <th>Again</th>
        </tr>
      </thead>
      <tbody>
        {% for visit in patient.visits_set.all %}
          <tr>
            <td>{{ visit.date }}</td>
            <td>{{ visit.visit_type }}</td>
            <td>{{ visit.height }}</td>
            <td>{{ visit.weight }}</td>
            <td>{{ visit.diagnosis }}</td>
            <td>{{ visit.treatment }}</td>
            <td>{{ visit.get_again_display }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No visits recorded for this patient.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h3>Add a Visit to the Doctors</h3>
  <form
    method="post" 
    class="subsection-content"
    autocomplete="off"
  >
    {% csrf_token %}
    {{ visits_form.as_p }}
    <button type="submit" class="btn submit">Add!</button>
  </form>
  <h3>Previous Doctors Visits</h3>
</section>

{% endblock %}